numpy==2.2.6
pandas==3.0.0
scipy==1.17.1
tqdm==4.67.3
scikit-learn==1.8.0
matplotlib==3.10.8
statsmodels==0.14.6

# Optional — if use --classifier xgb or --classifier catboost
xgboost==3.2.0
catboost==1.2.10